In [2]:
import pandas as pd 
import numpy as np
import re
from helper import *
import sqlite3

## LinkedIn Data

In [3]:
linkedin_data = pd.read_csv('data\ML engineer jobs (aug 30, 2025) - Linkedin.csv')

linkedin_data = clean_job_data(linkedin_data, "LinkedIn")

linkedin_data.head(2)

,Company,Position,Location,type,min_experience,max_experience,Salary,days_upload,Enthusiast,Category,Degree,general_position,source,normalize_category,min_salary,max_salary
1,Braintrust,Prompt Engineer / AI Engineer,Others,WFH,3 years,5,Negotiable,14,100,Full-time,Unspesicified,AI Engineer,LinkedIn,Full-Time,Negotiable,Unspesicied
2,VIDA Digital Identity,Deep Learning / AI Scientist - Liveness Detect...,Jakarta,Unspecified,3 years,Unspecified,Negotiable,-1,100,Full-time,Master or PhD,AI Engineer,LinkedIn,Full-Time,Negotiable,Unspesicied

## Glints Data

In [4]:
glints_data = pd.read_csv("data\ML engineer jobs (aug 30, 2025) - Glints.csv")

glints_data = clean_job_data(glints_data, "Glints")

glints_data.head(2)

,Company,Position,Location,type,min_experience,max_experience,Salary,days_upload,Enthusiast,Category,Degree,general_position,source,normalize_category,min_salary,max_salary
1,Develab,AI Engineer,Others,Hybrid,3 years,5,Negotiable,-1,Unknown,Full-time,Bachelor,AI Engineer,Glints,Full-Time,Negotiable,Unspesicied
2,PT. Technologi Digital Nusantara (Techbros),AI LLM Engineer,Others,Unspecified,Unspecified,Unspecified,"{'min': 20000000.0, 'max': 20000000.0, 'unit':...",-1,Unknown,Full-time,Bachelor,AI Engineer,Glints,Full-Time,20000000.0,20000000.0

## Dealls Data

In [5]:
dealls_data = pd.read_csv("data\ML engineer jobs (aug 30, 2025) - dealls.csv")
dealls_data = clean_job_data(dealls_data, "Dealls")

dealls_data.head(2)

,Company,Position,Location,type,min_experience,max_experience,Salary,days_upload,Enthusiast,Category,Degree,general_position,source,normalize_category,min_salary,max_salary
1,Bit Health,AI Engineer,Banten,WFO,2 years,Unspecified,Negotiable,-1,Unknown,Full Time,Bachelor,AI Engineer,Dealls,Full-Time,Negotiable,Unspesicied
2,AssistX Enterprise,AI Engineer,Jakarta,WFO,2 years,Unspecified,"{'min': 6000000.0, 'max': 7500000.0, 'unit': '...",-1,Unknown,Full Time,Bachelor or Master,AI Engineer,Dealls,Full-Time,6000000.0,7500000.0

## Kalibrr Data

In [6]:
kalibrr_data = pd.read_csv("data\ML engineer jobs (aug 30, 2025) - Kalibrr.csv")
kalibrr_data = clean_job_data(kalibrr_data, "Kalibrr")

kalibrr_data.head()

,Company,Position,Location,type,min_experience,max_experience,Salary,days_upload,Enthusiast,Category,Degree,general_position,source,normalize_category,min_salary,max_salary
1,Kompas Gramedia,Machine Learning Engineer | Jakarta,Jakarta,WFO,2 years,Unspecified,Negotiable,5,Unknown,Full-Time,Bachelor or Master,ML Engineer,Kalibrr,Full-Time,Negotiable,Unspesicied
2,Nomura Research Institute Indonesia,Machine Learning Engineer (MLE),Jakarta,WFH,3 years,Unspecified,"{'min': 12000000.0, 'max': 24000000.0, 'unit':...",150,Unknown,Full-Time,Unspesicified,ML Engineer,Kalibrr,Full-Time,12000000.0,24000000.0
3,ICS Compute,Generative AI Engineer,Jakarta,WFO,2 years,Unspecified,Negotiable,30,Unknown,Full-Time,Bachelor or Master,AI Engineer,Kalibrr,Full-Time,Negotiable,Unspesicied
4,Gositus,AI Engineer,Jakarta,WFO,2 years,Unspecified,Negotiable,5,Unknown,Full-Time,Bachelor,AI Engineer,Kalibrr,Full-Time,Negotiable,Unspesicied
5,PT. Indocyber Global Teknologi,AI Engineer Junior,Jakarta,WFO,1 years,Unspecified,Negotiable,60,Unknown,Contract,Bachelor,AI Engineer,Kalibrr,Contract,Negotiable,Unspesicied

In [7]:
indeed_data = pd.read_csv("data\ML engineer jobs (aug 30, 2025) - Indeed.csv")
indeed_data = clean_job_data(indeed_data, "Indeed")

indeed_data

,Company,Position,Location,type,min_experience,max_experience,Salary,days_upload,Enthusiast,Category,Degree,general_position,source,normalize_category,min_salary,max_salary
1,PT. FIS CLOUDS INNOVATIONS,AI/ML Engineer,Jakarta,Hybrid,Fresh Graduate,2,Negotiable,21,20,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
2,Stockbit,AI/ML Engineer,Jakarta,Hybrid,Unspecified,Unspecified,Negotiable,60,Unknown,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
3,PT. Indocyber Global Teknologi,AI Engineer Junior,Jakarta,WFO,1 years,Unspecified,Negotiable,60,Unknown,Contract,Bachelor,AI Engineer,Indeed,Contract,Negotiable,Unspesicied
4,SMART Agribusiness and Food,Data Science Engineer,Jakarta,Unspecified,2 years,Unspecified,Negotiable,30,Unknown,Full-Time,Bachelor,others,Indeed,Full-Time,Negotiable,Unspesicied
5,Samsung Electronics,Software Engineer - AI,Jakarta,WFO,2 years,Unspecified,Negotiable,28,Unknown,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
6,PT Wecruit Lab Indonesia,AI/Machine Learning Engineer,Jakarta,WFH,2 years,Unspecified,"{'min': 15750000.0, 'max': 22500000.0, 'unit':...",7,Unknown,Full-Time/Contract,Bachelor,AI Engineer,Indeed,Full-Time,15750000.0,22500000.0
7,PT. Uni Network Communications Jakarta,AWS AI Developer for Cloudetica Solutions (Rem...,Jakarta,WFH,Unspecified,Unspecified,Negotiable,180,Unknown,Part Time,Unspesicified,AI Engineer,Indeed,Part-time,Negotiable,Unspesicied
8,PT Rakhasa Artha Wisesa,AI Engineer | Bangun Kecerdasan Buatan yang Ce...,Jakarta,Hybrid,2 years,Unspecified,Negotiable,60,Unknown,Unspecified,Unspesicified,AI Engineer,Indeed,Unspecified,Negotiable,Unspesicied
9,PT PM SAMPOERNA ISC,Data Engineer,Jakarta,Unspecified,3 years,Unspecified,Negotiable,90,Unknown,Full-Time,Bachelor,others,Indeed,Full-Time,Negotiable,Unspesicied
10,Nomura Research Institute Indonesia,Machine Learning Engineer (MLE),Jakarta,WFH,3 years,Unspecified,"{'min': 12000000.0, 'max': 24000000.0, 'unit':...",150,Unknown,Full-Time,Unspesicified,ML Engineer,Indeed,Full-Time,12000000.0,24000000.0
11,Binance,"Data Scientist (Recommendation Systems), Binan...",Jakarta,Hybrid,3 years,Unspecified,Negotiable,21,Unknown,Full-Time,Bachelor,others,Indeed,Full-Time,Negotiable,Unspesicied
12,HashMicro Pte Ltd,Artificial Inteligence Specialist,Jakarta,Unspecified,2 years,Unspecified,Negotiable,300,Unknown,Full-Time,Bachelor,others,Indeed,Full-Time,Negotiable,Unspesicied
13,Samsung Electronics,Senior AI Engineer,Jakarta,WFO,5 years,Unspecified,Negotiable,30,Unknown,Full-Time,Unspesicified,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
14,EY,Machine Learning Engineering Consultant (Junio...,Jakarta,WFO,1 years,Unspecified,Negotiable,14,Unknown,Full-Time,Bachelor,ML Engineer,Indeed,Full-Time,Negotiable,Unspesicied
15,Portcast,Senior Machine Learning Engineer,Others,WFH,5 years,Unspecified,Negotiable,150,Unknown,Full-Time,Bachelor,ML Engineer,Indeed,Full-Time,Negotiable,Unspesicied
16,Bonza,Senior Machine Learning Engineer,Jakarta,Unspecified,Unspecified,Unspecified,Negotiable,300,Unknown,Full-Time,Bachelor,ML Engineer,Indeed,Full-Time,Negotiable,Unspesicied
17,Accenture,Data & AI Engineering,Jakarta,Unspecified,Unspecified,Unspecified,Negotiable,-1,Unknown,Full-Time,Unspesicified,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
18,Technosoft Consulting,Machine Learning Engineer – Intellegent Automo...,Indonesia (unspecified),Unspecified,5 years,Unspecified,Negotiable,300,Unknown,Unspecified,Bachelor,AI Engineer,Indeed,Unspecified,Negotiable,Unspesicied
19,Kompas Gramedia,Machine Learning Engineer | Jakarta,Jakarta,Unspecified,2 years,Unspecified,Negotiable,60,Unknown,Full-Time,Bachelor,ML Engineer,Indeed,Full-Time,Negotiable,Unspesicied
20,Kredivo Group,Machine Learning Engineer,Jakarta,Unspecified,2 years,Unspecified,Negotiable,300,Unknown,Full-Time,Unspesicified,ML Engineer,Indeed,Full-Time,Negotiable,Unspesicied
21,Sportserve,Indonesian AI Developer,Jakarta,Unspecified,Unspecified,Unspecified,Negotiable,7,Unknown,Unspecified,Bachelor,AI Engineer,Indeed,Unspecified,Negotiable,Unspesicied
22,Mekari (PT. Mid Solusi Nusantara),AI Engineer,Jakarta,Hybrid,Unspecified,Unspecified,Negotiable,14,Unknown,Unspecified,Bachelor,AI Engineer,Indeed,Unspecified,Negotiable,Unspesicied
23,ICS Compute Jakarta ICS Compute,Generative AI Engineer,Jakarta,Unspecified,2 years,Unspecified,Negotiable,30,Unknown,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
24,Bjak,AI Engineer (Remote),Jakarta,WFH,4 years,Unspecified,Negotiable,30,Unknown,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
25,Gositus,AI Engineer,Jakarta,Unspecified,2 years,Unspecified,Negotiable,6,Unknown,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
26,NTT DATA,Associate AI Engineer,Jakarta,Hybrid,Unspecified,Unspecified,Negotiable,60,Unknown,Full-Time,Bachelor,AI Engineer,Indeed,Full-Time,Negotiable,Unspesicied
27,Shopee,AI Solution Engineer,Jakarta,Unspecified,2 years,Unspecified,Negotiable,21,Unknown,Unspecified,Bachelor,AI Engineer,Indeed,Unspecified,Negotiable,Unspesicied

In [8]:
dfs = [linkedin_data, glints_data, dealls_data, kalibrr_data, indeed_data]

all_jobs = pd.concat(dfs, ignore_index= True)

In [9]:
all_jobs.shape

(93, 16)

In [10]:
all_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Company             93 non-null     object
 1   Position            93 non-null     object
 2   Location            93 non-null     object
 3   type                93 non-null     object
 4   min_experience      93 non-null     object
 5   max_experience      93 non-null     object
 6   Salary              93 non-null     object
 7   days_upload         93 non-null     Int64
 8   Enthusiast          93 non-null     object
 9   Category            93 non-null     object
 10  Degree              93 non-null     object
 11  general_position    93 non-null     object
 12  source              93 non-null     object
 13  normalize_category  93 non-null     object
 14  min_salary          93 non-null     object
 15  max_salary          93 non-null     object
dtypes: Int64(1), object(15)
memory usage: 11.8+ KB

## Create SQLite Database

In [11]:
conn = sqlite3.connect("jobs.db")

all_jobs = all_jobs.drop(columns="Salary", axis = 1)

all_jobs.to_sql("jobs", conn, if_exists="replace", index = False)

93

In [12]:
# Verify by reading back
df_check = pd.read_sql("Select * FROM jobs", conn)
print(df_check)

                            Company  \
0                       Braintrust
1             VIDA Digital Identity
2                       RH USA, Inc
3                          Bibit.id
4            CAD IT Gruppo Cedacri
..                              ...
88  ICS Compute Jakarta ICS Compute
89                             Bjak
90                          Gositus
91                         NTT DATA
92                           Shopee

                                             Position    Location  \
0                       Prompt Engineer / AI Engineer      Others
1   Deep Learning / AI Scientist - Liveness Detect...     Jakarta
2                                AI Prompter Engineer  Jawa Barat
3                                      AI/ML Engineer     Jakarta
4                              Computer Vision Intern  Jawa Barat
..                                                ...         ...
88                             Generative AI Engineer     Jakarta
89                               AI Engineer (Remote)     Jakarta
90                                        AI Engineer     Jakarta
91                              Associate AI Engineer     Jakarta
92                               AI Solution Engineer     Jakarta

           type  min_experience max_experience  days_upload Enthusiast  \
0           WFH         3 years              5           14        100
1   Unspecified         3 years    Unspecified           -1        100
2           WFO  Fresh Graduate    Unspecified            6         47
3        Hybrid  Fresh Graduate    Unspecified           30        100
4           WFO  Fresh Graduate    Unspecified           -1         34
..          ...             ...            ...          ...        ...
88  Unspecified         2 years    Unspecified           30    Unknown
89          WFH         4 years    Unspecified           30    Unknown
90  Unspecified         2 years    Unspecified            6    Unknown
91       Hybrid     Unspecified    Unspecified           60    Unknown
92  Unspecified         2 years    Unspecified           21    Unknown

       Category              Degree general_position    source  \
0     Full-time       Unspesicified      AI Engineer  LinkedIn
1     Full-time       Master or PhD      AI Engineer  LinkedIn
2     Full-time            Bachelor      AI Engineer  LinkedIn
3     Full-time  Bachelor or Master      AI Engineer  LinkedIn
4        Intern             Diploma           others  LinkedIn
..          ...                 ...              ...       ...
88    Full-Time            Bachelor      AI Engineer    Indeed
89    Full-Time            Bachelor      AI Engineer    Indeed
90    Full-Time            Bachelor      AI Engineer    Indeed
91    Full-Time            Bachelor      AI Engineer    Indeed
92  Unspecified            Bachelor      AI Engineer    Indeed

   normalize_category  min_salary   max_salary
0           Full-Time  Negotiable  Unspesicied
1           Full-Time  Negotiable  Unspesicied
2           Full-Time  Negotiable  Unspesicied
3           Full-Time  Negotiable  Unspesicied
4              Intern   1500000.0    2000000.0
..                ...         ...          ...
88          Full-Time  Negotiable  Unspesicied
89          Full-Time  Negotiable  Unspesicied
90          Full-Time  Negotiable  Unspesicied
91          Full-Time  Negotiable  Unspesicied
92        Unspecified  Negotiable  Unspesicied

[93 rows x 15 columns]